<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Encriptador</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>
  <main>
    <h1>BNaval Crypto</h1>

    <form method="POST" action="/encriptar">
      <textarea name="texto" placeholder="Digite o texto para encriptar" required></textarea>
      <button>Encriptar</button>
    </form>

    <form method="POST" action="/decriptar">
      <textarea name="texto" placeholder="Cole o texto para desencriptar" required></textarea>
      <button>Desencriptar</button>
    </form>

{% if resultado %}
  <div class="resultado">
    <h2>Texto original:</h2>
    <p>{{ texto_original }}</p>
    <h2>Resultado:</h2>
    <p>{{ resultado }}</p>
  </div>
{% endif %}
  </main>
</body>
</html>
